Tests
C2Client/build/
.vscode
build/
C2Client/.cmdHistory
C2Client/.termHistory
C2Client/Beacon.exe
C2Client/C2Client/Scripts/__init__.py
C2Client/C2Client/TerminalModules/__pycache__/
C2Client/loader.bin
updateRelease.sh
