pycryptodome==3.23.0
grpcio==1.78.0
PyQt6==6.7.0
pyqtdarktheme
protobuf==6.33.5
gitpython==3.1.47
requests==2.33.0
pwn==1.0
pefile==2024.8.26
openai==1.102.0
agent-core @ git+https://github.com/maxDcb/agent-core.git@v0.1.0
pytest==9.0.3
pytest-qt==4.5.0
git+https://github.com/maxDcb/donut.git@master#egg=donut-shellcode
markdown
